@model IEnumerable<OnlineStore.Core.Entities.Models.Rolse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>مدیریت نقش ها</h1>
<p>
    <a asp-area="Admin" asp-controller="Rolse" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="Rolse" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a> |
                    <a asp-area="Admin" asp-controller="Rolse" asp-action="Details" asp-route-id="@item.RoleId">Details</a> |
                    <a asp-area="Admin" asp-controller="Rolse" asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                    <a asp-area="Admin " href="">rrrr</a>
                </td>
            </tr>
        }
    </tbody>
</table>
